*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#head{
    height: 65px;
    width: 100%;
    background-color: #131921;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
#logo{
    width: 150px;
    height: 60px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 17px;
}
#logo:hover{
    border: 1px solid #fff;
}
#logo img{
    height: 30px;
    width: 110px;
}
#location{
    width: 80px;
    height: 60px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    margin-left: 25px;
}
#location:hover{
    border: 1px solid #fff;
}
.location-logo{
    width: 15px;
    height: 18px;
    /* border: 1px solid #fff; */
}
#location i{
    color: #fff;
}
#location p{
    /* width: 25px */
    margin-left:15px;
    color: #fff;
}
#selector{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    /* border: 1px solid #fff; */
    margin-left: 25px;
    border-radius: 3px;
}
#select{
    width: 50px;
    height: 40px;
    border-radius: 3px;
    background-color: #f3f3f3;
}
#search{
    width:50%;
    height: 40px;
    /* border: 1px solid #fff;   */
    display: flex;
    align-items: center;
}
#search input[type="text"]{
    width: 100%;
    height: 38px;
    outline: none;
    border-style: none;
    font-size: 20px;
    border-style: none;
    margin-left: 0px;
}
#search button{
    width: 50px;
    height: 38px;
    background-color: #febd69;
    border-style: none;
    border-radius: 0px 3px 3px 0px;
    border: none;
}
#search button i{
    font-size: 20px;
}
#country{
    width:65px;
    height: 25px;
    /* border: 1px solid #fff; */
    display: flex;
    align-items: flex-end;
    margin-left: 17px;
}
#country:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
#country img{
    width: 25px;
}

#country p{
    height:18px;
    width: 8px;
    font-weight: bold;
    margin-left: 2px;
    color: #fff;
    display: flex;
    align-items: flex-end;
}
#country p i{
    font-size:15px;
}
#singup{
    width: 125px;
    height: 40px;
    /* border: 1px solid #fff; */
    color: #f3f3f3;
    box-sizing: border-box;
    margin-left: 17px;
}
#singup:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
#singup p{
    margin-top:7px;
    width:80%;
    height: 18px;
    /* border: 1px solid #fff; */
    display: flex;
}
#singup h4{
    display: flex;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}
#singup h4 i{
    margin-left: 5px;
    font-size: 15px;
}
#order{
    margin-left: 17px;
    width: 70px;
    height: 40px;
    /* border: 1px solid #fff; */
    color: #f3f3f3;
    text-transform: capitalize;
    box-sizing: border-box;
}
#order:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
#order a{
    color: #f3f3f3;
    text-decoration: none;
    display: flex;
}
#order a span {
    font-weight: bold;
}
#cart{
    color: #fff;
    display: flex;
    margin-left: 12px;
}
#cart a{
    color: #f3f3f3;
    text-decoration: none;
}
#cart:hover{
    border: 1px solid #fff;
    cursor: pointer;
}
#cart i{
    font-size: 25px;
}

#cart p{
    margin-left:4px;
    font-size: 20px;
}